.content__news-guide {
  padding: 28px 0 calc(32px - 24px);
  font-size: 16px;
  color: var(--color-text);
}

.content__news-guide .container {
  display: flex;
}

.news__guide-text {
  margin-right: 10px;
}

.news__guide-text.active {
  color: var(--color-primary);
}

.content {
  margin: 1px 0 0;
  position: relative;
  background-color: var(--color-white);
}

.content__product-banner-title {
  position: absolute;
  top: 135px;
  left: 0;
  right: 0;
  text-align: center;
  color: var(--color-white);
  font-size: 32px;
  font-weight: 900;
}

.content__product-banner-img {
  display: block;
  width: 100%;
  height: 100%;
}

.content__news-guide {
  padding: 22px 0 18px;
  border-bottom: 1px solid var(--color-border-line);
}

.content__product-block {
}

.item__price-input {
  width: 100%;
  align-items: baseline;
  justify-content: space-between;
  margin-top: 24px;
}

.item__price-input .field {
  width: 93px;
  border: 1px solid var(--color-border);
  border-radius: 5px;
  padding: 0 8px;
  overflow: hidden;
  justify-content: space-between;
  align-items: baseline;
}

.item__price-input .field .input-max,
.item__price-input .field .input-min {
  width: 100%;
  text-align: right;
  border: none;
  height: 28px;
  outline: none;
}

.item__price-input .separator {
  margin: 0 18px;
}

.item-btn-apply {
  width: 100%;
  height: 32px;
  line-height: 32px;
  margin-top: 14px;
  background-color: var(--color-white);
  border-radius: 5px;
  border: 1px solid var(--color-border);
  font-size: 15px;
  font-weight: 400;
}

/* !slider price ui */
div#slider-range {
  border: none;
  background: #e7e7e7;
  height: 5px;
}

span.ui-slider-handle.ui-corner-all.ui-state-default {
  border-radius: 50%;
  background-color: #000;
  border: none;
  top: -7px;
}

.ui-slider-range.ui-corner-all.ui-widget-header {
  background-color: #000;
}
/* List product  */
.product__block-lists-body {
  display: grid;
  grid-template-columns: repeat(4, calc(25% - 10px));
  gap: 10px;
}

.hotdeals__products-item {
  padding: 15px;
}

/* btn page */
.btn__pages-news {
  display: flex;
  justify-content: center;
  margin: 38px 0 44px;
}

.btn__pages-news-item {
  margin-left: 10px;
  width: 30px;
  height: 30px;
  background-color: var(--color-white);
  border: 1px solid var(--color-border);
}

.btn__pages-news-item button {
  width: 100%;
  height: 100%;
  border: none;
  background-color: transparent;
}

.btn__pages-news-item.active {
  border: 1px solid var(--color-primary);
}

.btn__pages-news-item.none {
  display: none;
}

/* content category */

.close-filter {
  display: none;
}

.product__category-item {
  padding-bottom: 30px;
}

.item-text {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 25px;
  font-size: 14px;
}

.item-text input {
  display: none;
}

.check-box::before {
  content: '';
  display: inline-block;
  width: 16px;
  height: 16px;
  margin: 0;
  margin-right: 6px;
  background-color: #fff;
  border-radius: 0;
  position: absolute;
  left: 0;
  border: 1px solid #000000;
  top: 0;
}

.item-text input[type='checkbox']:checked + label .check-box::before {
  content: '\2713';
  text-shadow: 1px 1px 1px rgb(0 0 0 / 20%);
  font-size: 12px;
  color: var(--color-primary);
  text-align: center;
  line-height: 15px;
  border: 1px solid var(--color-primary);
}

.item-text input[type='checkbox']:checked ~ label,
.item-text input[type='checkbox']:checked ~ .quantiti {
  color: var(--color-primary);
}

.product__block-details-title,
.product__category-item .item-title {
  font-size: 18px;
  font-weight: 900;
  margin-bottom: 20px;
}

.product__category-item:not(:first-child) .item-title {
  padding-top: 20px;
  border-top: 1px solid var(--color-border-line);
}

.product__category-item .item-text:not(:last-child) {
  margin-bottom: 12px;
}

.product__block-details {
  height: 255px;
  overflow: hidden;
  position: relative;
}

.product__block-details-btn-reading-more {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 46px 0 40px;
  display: flex;
  justify-content: center;
  background-image: linear-gradient(
    rgba(255, 255, 255, 0.1),
    var(--color-white),
    var(--color-white),
    var(--color-white)
  );
}

.product__block-details-btn-reading-more button {
  height: 31px;
  width: 129px;
  border-radius: 31px;
  border: 1px solid var(--color-primary);
  background-color: var(--color-white);
  color: var(--color-primary);
  font-weight: 700;
}

.product__block-details.active {
  height: auto;
}

.product__block-details.active .product__block-details-btn-reading-more {
  position: relative;
  padding: 20px 0;
}

.product__block-category-filter {
  justify-content: flex-end;
  align-items: center;
  padding: 20px 0 44px;
  border-top: 1px solid var(--color-border-line);
}

.product__block-icon-filter {
  display: none;
}

.product__filter-item {
  margin-right: 28px;
  align-items: center;
}

.product__filter-view-menu {
  height: 39px;
  border-radius: 39px;
  border: 1px solid var(--color-border-line);
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 16px;
}

.product__filter-view-menu select {
  font-size: 15px;
  font-weight: 700;
  line-height: 1;
  height: 100%;
  border: var(--main-boder);
  border-radius: 20px;
  padding: 0 20px;
  color: var(--color-text);
  -moz-appearance: none;
  appearance: none;
  outline: none;
  -webkit-appearance: none;
  min-width: 210px;
  background-image: url(../img/angle-down.jpg);
  background-repeat: no-repeat;
  background-position: calc(100% - 15px);
}

.product__filter-item-grid,
.product__filter-item-list {
  margin-right: 10px;
  opacity: 0.5;
}

.product__filter-item-grid.active,
.product__filter-item-list.active {
  opacity: 1;
}

.content__product-wrapper .btn__pages-news {
  margin-top: 0;
}

.customer__service {
  margin: 0;
}

/* ! slider range */
.irs--flat .irs-min,
.irs--flat .irs-max,
.irs-with-grid .irs-grid,
.irs-handle i,
.irs--flat .irs-handle > i:first-child,
.irs--flat .irs-from,
.irs--flat .irs-to {
  display: none;
}

.irs--flat .irs-handle {
  width: 20px;
  height: 20px;
  background-color: #000;
  border-radius: 50%;
}

.irs--flat .irs-line {
  height: 5px;
  top: 30px;
}

.irs--flat .irs-bar {
  background-color: #000;
  height: 5px;
  top: 30px;
}

.footer {
  margin-top: 0;
}
