@media (max-width: 992px) {
  .container {
    max-width: 960px;
    margin: 0px auto;
  }

  .mb-none,
  .header {
    display: none;
  }

  .menu__mobile {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
  }

  .menu__mobile-icon {
    font-size: 25px;
    margin-left: 5px;
    color: var(--color-primary);
  }

  .menu__mobile-logo {
    height: 35px;
  }

  .menu__mobile .block {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 5px 10px;
    background-color: var(--color-white);
    border-bottom: 1px solid var(--color-border-line);
  }

  .menu__mobile .header__action-cart .cart-icon {
    width: 40px;
    height: 35px;
    margin-right: 10px;
  }

  .header__action-cart .cart-num {
    color: var(--color-white);
    background-color: var(--color-primary);
    right: 0;
  }

  .menu__mobile-search .header__search {
    border-radius: 0;
    box-shadow: -1px 2px 2px 0px rgb(0 0 0 / 20%);
  }

  .navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 260px;
    height: 100%;
    padding-left: 16px;
    overflow-y: scroll;
    overflow-x: hidden;
    transform: translateX(-110%);
    transition: all 0.5s;
    z-index: 10000000;
  }

  .navbar__list > ul,
  .navbar .container {
    display: block;
    height: auto;
  }

  .navbar__category-icon,
  .navbar__category-text,
  .navbar__language::after,
  .navbar__category::after {
    display: none;
  }

  .navbar__list {
    margin-left: 0;
  }

  .navbar__language-icon img {
    margin-left: 0;
  }

  .navbar__category {
    display: block;
  }

  .content__mb {
    margin-top: 107px;
  }

  .content__register {
    margin-top: 107px;
    margin-left: 5px;
  }

  .content__news-guide {
    margin-left: -10px;
  }

  .category__list-small {
    position: relative;
    display: inline-block;
    opacity: 1;
    pointer-events: all;
    transition: none;
    box-shadow: none;
    transform: translateY(0);
    width: 100%;
    margin: 0;
    top: 0;
  }

  .category__list-small-item > a {
    padding-left: 0;
  }

  .category__list-small-item {
    position: relative;
  }

  .category__list-text-menu-small {
    flex: 1;
    font-size: 14px;
    font-weight: 700;
  }

  .navbar__list-item.item__menu-mobile a {
    font-weight: 500;
  }

  .item__icon-down {
    width: 10px;
    height: 10px;
    position: absolute;
    top: 10px;
    right: 15px;
    z-index: 1;
  }

  .navbar__list-item-menu-small {
    display: none;
  }

  .small__item-list {
    position: fixed;
    top: 0;
    bottom: 0;
    left: -28px;
    right: 0;
    opacity: 1;
    z-index: 10000;
    transition: all 0.3s;
    height: auto;
    transform: translateX(-100%);
    box-shadow: none;
    padding: 10px 30px;
    display: flex;
    flex-direction: column;
    background-color: var(--color-white);
  }

  .icon__back-menu {
    margin-right: 10px;
  }

  .small__item-list-header {
    display: block;
    margin-bottom: 20px;
    color: var(--color-primary);
    font-weight: 500;
  }

  .small__item-list ul h2 {
    font-size: 16px;
    font-weight: bolder;
  }

  .small__item-list ul h2 a {
    font-size: 14px;
    font-weight: initial;
  }

  .item__menu-mobile {
    height: 41px;
    position: relative;
  }

  .login__item-mobile {
    font-size: 14px;
    font-weight: 500;
    color: var(--color-primary);
    height: 41px;
    border-top: 1px solid var(--color-border-line);
    line-height: 41px;
  }

  .content {
    margin-top: 140px;
    overflow: hidden;
  }

  .content__slider {
    display: grid;
    grid-template-columns: auto;
  }

  .content__slide-sale {
    margin: 0 -7.5px;
  }

  .content__products-list .container {
    display: grid;
    grid-template-columns: repeat(1, 100%);
  }

  .content__product-banner .container {
    flex-direction: column;
  }

  .content__product-banner .banner__item:first-child {
    margin-bottom: 20px;
  }

  .content__product-banner .banner__item {
    width: 100%;
  }

  .content__product-wrapper-top {
    grid-template-columns: repeat(auto-fill, 30% calc(70% - 14px));
  }

  .product__list-category {
    display: flex;
    justify-content: space-between;
    grid-column-start: 1;
    grid-column-end: 3;
    column-gap: 15px;
  }

  .product__list-category-item {
    flex: 1;
    height: auto;
  }

  .product__list-category-item:not(:first-child) {
    margin-top: 0;
  }

  .content__product-offer .product__lists {
    grid-template-columns: repeat(4, 25%);
  }

  .content__advise__tips .container,
  .advise__content-body {
    display: grid;
    grid-template-columns: auto;
  }

  .advise__content {
    margin-right: 0;
  }

  .advise__content-body-main .advise-title,
  .advise__content-body-main .advise-text {
    margin: 20px 0 0 0;
  }

  .content__cart-body {
    margin: 0 5px;
  }

  .content__cart-body .cart__wrapper {
    flex-direction: column;
  }

  .content__news-guide {
    margin-left: 5px;
  }

  .cart__block {
    margin-right: 0;
  }

  .buy__cart {
    width: 100%;
    padding-bottom: 20px;
  }

  .terms__condition {
    display: flex;
    align-items: center;
  }

  .terms__condition span {
    display: flex;
    margin-left: 5px;
  }

  .terms__condition span a {
    margin-left: 5px;
  }

  .cart__idea {
    margin-bottom: 0;
  }

  .cart__idea textarea {
    width: 100%;
  }

  .content__news-body {
    grid-template-columns: repeat(1, 100%);
  }

  .news__lists {
    grid-template-columns: auto;
  }

  .lists-item-body-date {
    display: none;
  }

  .news__lists-item {
    margin: 0 15px;
  }

  .news__lists-item a {
    display: grid;
    grid-template-columns: 20% 80%;
  }
  .item-date-action {
    position: unset;
  }

  .main__item-body-action .action-item:not(:first-child) {
    border-left: none;
  }

  .main__item-body-action .action-item:last-child {
    border-left: 1px solid #333;
  }

  .main__item-cmt {
    margin-left: -15px;
  }

  .news__item-action {
    margin-left: 14px;
  }

  .main__item-author.action-item {
    display: none;
  }

  .news__lists-item-title {
    margin-top: 20px;
  }

  .main__item-body-action {
    display: flex;
  }

  .news__details-cmt {
    margin-left: 0;
  }

  .content__product-block {
    margin-left: 0;
  }

  .content__product-wrapper .btn__pages-news {
    margin-top: 15px;
  }

  .product__block-lists-body {
    grid-template-columns: repeat(3, 33.33%);
  }

  .content__product-catergory {
    width: 100%;
  }

  .content__productdetails-category {
    display: none;
  }

  .footer {
    margin-bottom: 46px;
  }

  .footer__certificate {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .footer__social,
  .footer__copyright {
    margin-bottom: 15px;
  }

  .footer__social-title,
  .footer__copyright-title {
    margin-bottom: 20px;
  }
}

@media (max-width: 768px) {
  .content {
    padding: 0 15px;
  }

  .content__news-guide {
    margin-left: 15px;
  }

  .content__mb {
    margin-top: 91px;
  }

  .content__slider-slide-item,
  .slide-content {
    margin-right: 0;
  }

  .slide-content {
    margin-bottom: 10px;
  }

  .menu__mobile-icon-fix {
    position: fixed;
    bottom: -1px;
    left: 0;
    right: 0;
    z-index: 10;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 46px;
    background-color: var(--text-color);
  }

  .content__product-wrapper-top {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
  }

  .product__list-category {
    flex-direction: column;
    row-gap: 15px;
  }

  .product__list-category-item:last-child {
    padding: 20px 0;
  }

  .ads__product-sale {
    flex-direction: column;
    row-gap: 15px;
  }

  .ads__product-sale .banner__item {
    width: 100%;
    height: auto;
  }

  .ads__product-sale .banner__wrapper {
    top: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .content__product-offer {
    margin: 0 -7.5px;
  }

  .content__product-offer .product__lists {
    grid-template-columns: repeat(3, 33.33333%);
  }

  .customer__service .container {
    margin: 0 15px;
  }
  .register__news-title,
  .register__news-text {
    text-align: center;
  }

  .register__news-form {
    width: 100%;
  }

  .cart__block-product {
    overflow-x: auto;
  }

  table.table {
    min-width: 768px;
  }

  .group__new-first {
    grid-template-columns: auto;
    margin: 0 15px;
  }

  .product__block-lists-body {
    grid-template-columns: repeat(2, calc(50% - 10px));
  }

  .hotdeals__products-item img {
    width: 100%;
  }

  .content__product-wrapper {
    grid-template-columns: auto;
  }

  .product__filter-view-title {
    display: none;
  }

  .product__block-icon-filter {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    position: absolute;
    left: 15px;
    width: 30px;
    height: 30px;
    font-size: 10px;
    color: var(--color-white);
    background-color: var(--color-primary);
  }

  .product__block-icon-filter i {
    margin-top: 3px;
  }

  .product__filter-item {
    margin-right: 10px;
  }

  .product__filter-view-menu {
    width: 100%;
    margin-left: 0;
    padding: 0 15px;
  }

  .product__filter-view-menu span:first-child {
    margin-right: 5px;
  }

  .close-filter {
    display: block;
    width: 70px;
    height: 30px;
    position: absolute;
    top: 5px;
    background: var(--color-primary);
    border-radius: 4px;
    left: 0;
    right: 0;
    margin: auto;
  }

  .close-filter:before {
    content: '';
    width: 20px;
    height: 1px;
    background: #fff;
    position: absolute;
    top: 16px;
    left: 34px;
    transform: rotate(-30deg);
  }

  .close-filter:after {
    content: '';
    width: 20px;
    height: 1px;
    background: #fff;
    position: absolute;
    top: 16px;
    right: 34px;
    transform: rotate(30deg);
  }

  .content__product-catergory {
    background: #fff;
    position: fixed;
    z-index: 9999;
    top: 0;
    width: 0;
    left: 0;
    padding: 15px;
    height: 0;
    overflow-y: auto;
    transition: all 0.5s linear;
    transition: all 0.5s linear;
    clip-path: circle(0.8% at 50% 50%);
    opacity: 0;
    pointer-events: none;
    overflow-x: hidden;
    padding-top: 30px;
  }

  .content__product-catergory.active {
    width: 300px;
    height: 100vh;
    clip-path: circle(100% at 50% 50%);
    opacity: 1;
    pointer-events: all;
  }

  .content__product-catergory.active .item-btn-apply button {
    background-color: var(--color-primary);
    border-color: var(--color-primary);
    color: var(--color-white);
  }

  .item-product-title {
    display: none;
  }

  .product__category-item.item-price .item-title {
    border-top: none;
  }
}

@media (max-width: 576px) {
  .login {
    width: 100%;
    z-index: 100000000;
  }

  .form-register-item {
    width: 100%;
  }

  .content__slider-slide-item,
  .slide-content {
    margin-right: 0;
  }

  .social__text,
  .content__category-product .title-view-all-text {
    display: none;
  }

  .content__product-offer .product__lists {
    grid-template-columns: repeat(2, 50%);
  }

  .content__social-item {
    width: 36px;
  }

  .content__social-item .sociak__icon {
    margin-right: 0;
  }

  .footer__register-news {
    margin: 0 15px 15px;
  }

  .footer__group {
    flex-direction: column;
  }

  .footer__group-item {
    padding: 0 15px;
  }

  .footer__group-item-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid var(--color-border-line);
    padding: 10px 0;
  }

  .footer__group-item .icon-down {
    display: block;
  }

  .footer__group-item .text-group {
    display: none;
  }

  .footer__certificate {
    border: none;
  }
}

@media (min-width: 768px) {
  .menu__mobile-icon-fix {
    position: fixed;
    top: 40%;
    right: 0;
    display: block;
    z-index: 10;
  }

  .menu__mobile-icon-fix .icon__fix-item {
    background-color: var(--color-primary);
    margin-bottom: 1px;
    border-radius: 5px 0 0 5px;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .container {
    max-width: 960px;
    margin: 0px 10px;
  }

  .menu__mobile-logo {
    max-width: 265px;
    object-fit: contain;
    width: initial;
    height: initial;
  }

  .content__slide-sale {
    grid-template-columns: repeat(4, 25%);
    margin-top: 10px;
  }

  .content__slider-slide-item,
  .slide-content {
    margin-right: 0;
  }

  .content__product-wrapper {
    display: flex;
    flex-direction: column-reverse;
  }
}

@media (min-width: 992px) {
  .container {
    max-width: 960px;
    margin: 0 auto;
  }

  .navbar.fixed .container {
    max-width: 100%;
  }

  .navbar.fixed .navbar__logo {
    margin: 12px 15px 0;
    max-height: 30px;
  }

  .navbar__category-text .icon-down {
    margin-right: 15px;
  }

  .navbar.fixed .navbar__list {
    margin-left: 10px;
  }

  .navbar.fixed .navbar__list-item {
    margin-right: 10px;
    font-size: 14px;
  }

  .login__item-mobile,
  .item__icon-down,
  .small__item-list-header {
    display: none;
  }

  .category__list-small-item:hover > a {
    background-color: var(--color-primary);
    color: var(--color-white);
  }

  .small__item-list {
    position: absolute;
    top: 0;
    left: 100%;
    height: 100%;
    border-radius: 5px;
    background-color: var(--color-white);
    padding: 30px;
    display: grid;
    z-index: 3;
    grid-template-columns: repeat(4, 25%);
    opacity: 0;
    transform: translateX(10px);
    transition: all 0.5s;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    pointer-events: none;
  }

  .category__list-small-item:hover .small__item-list {
    pointer-events: all;
    opacity: 1;
    transform: translateX(0);
    z-index: 5;
  }

  .content__slider-slide-item {
    height: 550px;
  }

  .content__slide-sale {
    margin: 0 -7.5px 0 7.5px;
  }

  .content__product-wrapper {
    padding-top: 28px;
    display: grid;
    grid-template-columns: calc(25% - 47px) 75%;
    gap: 47px;
  }
}

@media (min-width: 992px) and (max-width: 1199px) {
  .container {
    max-width: 1080px;
    margin: 0px auto;
  }

  .navbar__category-icon {
    margin-right: 5px;
  }

  .menu__mobile {
    display: none;
  }

  .header,
  .navbar {
    display: block;
  }

  .navbar__list {
    margin-left: 10px;
  }

  .header__action-cart .cart-num {
    right: -10px;
    color: var(--color-primary);
    background-color: var(--color-white);
  }

  .navbar__language {
    display: none;
  }

  .small__item-list {
    width: calc(900px - 260px);
  }

  .advise__content-body {
    display: grid;
    grid-template-columns: 50% 50%;
  }

  .product__block-lists-body {
    grid-template-columns: repeat(3, calc(33.33333% - 10px));
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
    margin: 0px auto;
  }

  .header__search {
    width: 555px;
  }

  .header,
  .navbar {
    display: block;
  }

  .navbar.fixed .container {
    max-width: 100%;
  }

  .navbar.fixed .navbar__logo {
    margin: 7px 80px 0 15px;
    max-height: 40px;
  }

  .navbar__category-text .icon-down {
    margin-right: 39px;
  }

  .navbar.fixed .navbar__list {
    margin-left: 10px;
  }

  .navbar.fixed .navbar__list-item {
    margin-right: 20px;
  }

  .menu__mobile {
    display: none;
  }

  .header__action-cart .cart-num {
    right: -10px;
    color: var(--color-primary);
    background-color: var(--color-white);
  }

  .small__item-list {
    width: calc(1200px - 260px);
  }
}

@media (min-width: 1400px) {
  .container {
    max-width: 1336px;
    margin: 0px auto;
  }

  .navbar.fixed .container {
    max-width: 100%;
  }

  .small__item-list {
    width: calc(1300px - 260px);
  }
}
