@media (min-width: 576px) {
  .container {
    max-width: 540px;
    margin: 0px auto;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 720px;
    margin: 0px auto;
  }
}

@media (min-width: 992px) {
  .container {
    max-width: 960px;
    margin: 0px auto;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1336px;
    margin: 0px auto;
  }
}
