@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

html {
  font-family: 'Mulish', sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --color-primary: #db291d;
  --color-white: #fff;
  --text-color: #333;
  --body-color: #f5f5f5;
  --color-border-line: #e5e5e5;
  --color-border: #b4b4b4;
  --color-star-active: #fac325;
}

body {
  background-color: var(--body-color);
}

a {
  text-decoration: none;
  color: var(--text-color);
}

li {
  list-style: none;
}

img {
  width: 100%;
  height: 100%;
}

input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin: 0;
}

.no-padding {
  padding: 0 !important;
}

.no-border {
  border: none;
}

.d-flex {
  display: flex;
}

.f-wrap {
  flex-wrap: wrap;
}

.f-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.f-col {
  flex-direction: column;
}

/*! Header */
.header {
  height: 92px;
  width: 100%;
  background-color: var(--color-primary);
  position: relative;
  top: 0;
}

.header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

.header__logo img {
  width: 244px;
  height: 52px;
}

.header__hotline {
  color: var(--color-white);
}

.header__hotline-title {
  font-weight: 500;
  font-size: 12px;
}

.header__hotline-number {
  font-size: 16px;
  font-weight: 600;
}

.header__search {
  border-radius: 22px;
  width: 555px;
  height: 45px;
  display: flex;
  background-color: var(--color-white);
}

.header__search-input {
  color: var(--text-color);
  border-radius: 22px;
  margin-left: 24px;
  font-size: 12px;
  width: 100%;
  height: 100%;
  outline: none;
  border: none;
}

.header__search-icon {
  color: var(--color-primary);
  font-size: 24px;
  display: flex;
  align-items: center;
  margin-right: 23px;
}

.header__action {
  display: flex;
  color: var(--color-white);
}

.header__action-user a {
  margin-right: 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: var(--color-white);
}

.header__action-user .user-icon img {
  width: 27px;
  height: 27px;
}

.header__action-cart {
  position: relative;
}

.header__action-cart .cart-icon img {
  width: 46px;
  height: 46px;
}

.header__action-cart .cart-num {
  position: absolute;
  top: -4px;
  right: -10px;
  display: block;
  text-align: center;
  line-height: 24px;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  color: var(--color-primary);
  background-color: var(--color-white);
}

/* !Navbar */
.navbar {
  position: absolute;
  top: 92px;
  left: 0;
  right: 0;
  z-index: 1;
  display: block;
  font-size: 12px;
  font-weight: 800;
  height: 52px;
  background-color: var(--color-white);
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
}

.navbar .container {
  display: flex;
  justify-content: space-between;
  height: 100%;
}

.navbar__category,
.navbar__language {
  position: relative;
}

.navbar__category-icon {
  margin-right: 17px;
  margin-top: 5px;
}

.icon-down {
  font-size: 10px;
  margin-left: 14px;
}

.navbar__list {
  flex: 1;
}

.navbar__category,
.navbar__list ul,
.navbar__language {
  display: flex;
  align-items: center;
  height: 100%;
}

.navbar__category::after {
  position: absolute;
  right: 0;
  content: '';
  background-color: #dedede;
  width: 1px;
  height: 32px;
}

.navbar__category-text .icon-down {
  margin-right: 39px;
}

.navbar__list {
  margin-left: 33px;
}

.navbar__list-item {
  margin-right: 46px;
}

.navbar__language-icon img {
  width: 19px;
  height: 19px;
  margin: 5px 7px 0 17px;
}

.navbar__language::after {
  content: '';
  position: absolute;
  background-color: #dedede;
  height: 32px;
  width: 1px;
}

.navbar__language-text {
  font-weight: 600;
}

.navbar__language .icon-down {
  margin-left: 9px;
}

/* page guide */
.content__news,
.content__productdetails {
  margin-top: 52px;
  background-color: var(--color-white);
}

.content__news-guide,
.content__guide {
  padding: 28px 0 calc(32px - 24px);
  font-size: 16px;
  color: var(--color-text);
}

.news__guide-text.active {
  color: var(--color-primary);
}

/* !Content */

.content {
  margin-top: 82px;
}

.content__slider {
  display: flex;
}

.slide-content {
  display: flex;
  flex-wrap: nowrap;
  width: 810px;
  height: 514px;
  overflow: hidden;
  border-radius: 10px;
}

.content__slider-slide {
  position: relative;
}

.slide-btn {
  position: absolute;
  bottom: 0;
  width: 100%;
  display: flex;
  margin-bottom: 16px;
  justify-content: center;
}

.dot {
  width: 12px;
  height: 12px;
  background-color: var(--color-white);
  margin: 0 6px;
  border-radius: 12px;
}

.slide-btn .dot.active {
  background-color: var(--color-primary);
  border: 2px solid var(--color-white);
}

.content__slider-slide-item img {
  width: 810px;
  height: 514px;
  object-fit: cover;
}

.content__slide-sale {
  width: 100%;
  height: 264px;
  display: flex;
  flex-wrap: wrap;
}

.slide-sale-item:nth-child(1),
.slide-sale-item:nth-child(3) {
  margin-left: 14px;
  margin-right: 10px;
}

.slide-sale-item img {
  width: 250px;
  height: 100%;
  object-fit: cover;
}

/* Content banner */

.content__banner {
  margin-top: 58px;
}

.content__banner-image {
  display: flex;
  justify-content: center;
}

/* Content category products */
.content__category-product {
  margin-top: 47px;
}

.category-product-navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__title h2 {
  font-size: 22px;
  font-weight: 900;
}

.title-view-all-text a {
  font-size: 14px;
  margin-left: 22px;
  font-weight: 600;
  border-bottom: 2px solid #cecece;
}

.header__title,
.prev-next-btn {
  display: flex;
  align-items: baseline;
}

.prev-btn,
.next-btn {
  width: 40px;
  height: 40px;
  background-color: var(--color-white);
  border-radius: 40px;
  border: 1px solid #333;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 4px;
}
.prev-btn.active,
.next-btn.active {
  color: var(--color-white);
  background-color: var(--color-primary);
  border: none;
}

.list__category-product {
  width: 100%;
  display: flex;
  justify-content: space-around;
  margin-top: 30px;
}

.product-item img {
  border-radius: 50%;
}

.product-item-name {
  margin-top: 18px;
  text-align: center;
  font-size: 16px;
}

.category-btn {
  display: flex;
  justify-content: center;
  padding-top: 56px;
  padding-bottom: 38px;
}

.category-btn .dot {
  background-color: #a0a0a0;
}

.category-btn .dot.active {
  background-color: var(--color-primary);
}

/* Hot deals 🔥 */

.content__hotdeals {
  background-color: var(--color-white);
  padding-top: 44px;
}

.content__hotdeals-products {
  display: flex;
  justify-content: space-between;
}

.content__hotdeals-title {
  display: flex;
  align-items: center;
  margin-bottom: 48px;
}

.content__hotdeals-title h2 {
  color: var(--color-primary);
  font-size: 18px;
  font-weight: 900;
  display: flex;
  align-items: baseline;
}

.content__hotdeals-title img {
  margin-top: 1px;
}

.hotdeals-title-text {
  margin-left: 10px;
}

.hot-deals-time-down {
  margin-top: 10px;
  margin-left: 10px;
  display: flex;
}

.hot-deals-time-down .time-item {
  width: 35px;
  height: 35px;
  text-align: center;
  line-height: 35px;
  background-color: #333;
  color: var(--color-white);
  border-radius: 35px;
}

.colon {
  margin: 7px 5px;
}

.star-item.active {
  color: #fac325;
}

.hotdeals__products-item {
  position: relative;
  max-width: 240px;
  margin-bottom: 62px;
}

.hotdeals__products-item img {
  width: 208px;
  height: 208px;
}

.star {
  margin-bottom: 15px;
}

.sale {
  position: absolute;
  width: 60px;
  height: 30px;
  text-align: center;
  line-height: 30px;
  font-weight: 700;
  color: var(--color-primary);
  background-color: #ffd8d7;
  border-radius: 3px;
}

.product-name {
  margin-bottom: 20px;
  width: 220px;
}

.price {
  display: flex;
  font-size: 14px;
  margin-bottom: 24px;
  align-items: baseline;
}

.price-last {
  margin-right: 8px;
  font-size: 12px;
  text-decoration: line-through;
}

.price-new {
  color: var(--color-primary);
  font-weight: 900;
}

.add-cart-btn {
  width: 160px;
  height: 41px;
  line-height: 36.5px;
  text-align: center;
  font-size: 14px;
  border: 2px solid #595959;
  border-radius: 30px;
  background-color: var(--color-white);
}

.addcart-repeat {
  display: flex;
}

.repeat-product-btn {
  width: 42px;
  height: 42px;
  background-color: #f5f5f5;
  text-align: center;
  line-height: 42px;
  margin-left: 10px;
  border-radius: 50%;
}

/* list product */

.product__news,
.product__outstanding {
  margin: 0 10px;
  position: relative;
}

.product__news .product__list-item,
.product__outstanding .product__list-item {
  width: 210px;
}

.product__list-item {
  background-color: var(--color-white);
  padding: 15px;
  margin: 7px;
}

.product__list-item img {
  width: 168px;
  height: 168px;
}

.product__outstanding .header__title,
.product__news .header__title {
  margin: 42px 0 30px;
}

.product__outstanding .add-cart-btn,
.product__news .add-cart-btn {
  width: 110px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.product__outstanding .price,
.product__news .price {
  flex-direction: column;
  align-items: flex-start;
}

.product__news-dot,
.product__outstanding-dot {
  margin: 25px 0 0;
  padding: 0;
}

.product__news .prev-next-btn,
.product__outstanding .prev-next-btn {
  position: absolute;
  top: 182px;
  left: 0;
  right: 0;
}

.product__news .prev-next-btn .prev-btn,
.product__outstanding .prev-next-btn .prev-btn {
  display: none;
  position: absolute;
  left: 0;
}

.product__news .prev-next-btn .next-btn,
.product__outstanding .prev-next-btn .next-btn {
  position: absolute;
  right: 0;
}

/* Trademark product */
.header__title {
  display: flex;
  justify-content: space-between;
  margin: 36px 0 22px;
}

.trademark-product .prev-next-btn .prev-btn {
  display: none;
}

.trademark__product-list {
  display: flex;
  width: 100%;
  justify-content: space-around;
}

.trademark-product-item {
  border-radius: 64px;
  overflow: hidden;
  padding: 0;
  margin: 0 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 190px;
  height: 64px;
}

.trademark-product-item img {
  width: 100%;
  height: 100%;
}

/* Product bestseller */

.product_bestseller-item {
  width: 252px;
  height: 420px;
}

.product_bestseller-item a img {
  width: 100%;
  height: 200px;
}

.product__bestseller {
  padding: 0;
  margin: 18px 0 26px;
}

/* banner product */

.content__product-banner .banner__item {
  width: 658px;
  position: relative;
  height: 168px;
}

.content__product-banner .banner__item:first-child {
  margin-right: 20px;
}

.content__product-banner .banner__item img {
  width: 100%;
  height: 100%;
}

.banner__wrapper {
  position: absolute;
  top: 40px;
  left: 25px;
  color: var(--color-white);
  font-size: 20px;
}

.banner__item-title {
  font-weight: bold;
  margin-bottom: 8px;
}

.banner__item-price {
  font-size: 14px;
  margin-bottom: 16px;
}

.banner__item-btn {
  width: 107px;
  height: 32px;
  border: none;
  font-size: 14px;
  border-radius: 32px;
  color: var(--color-white);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background-color: rgba(255, 255, 255, 0.3);
}

/* product and ads */

.banner-left-ads {
  width: 246px;
  margin-right: 16px;
}

.banner-left-ads img {
  width: 100%;
  height: 100%;
}

.ads__product-sale {
  margin-top: 22px;
}

.ads__product-sale .banner__item {
  width: 430px;
  height: 160px;
  position: relative;
}

.ads__product-sale .banner__item:nth-child(1),
.ads__product-sale .banner__item:nth-child(2) {
  margin-right: 20px;
}

.ads__product-sale .banner__item img {
  width: 100%;
  height: 100%;
}

.ads__product-sale .banner__wrapper {
  top: 30px;
}

.product__list-category-item {
  width: 250px;
  height: 97px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  background-color: var(--color-white);
  overflow: hidden;
}

.product__list-category-item:not(:first-child) {
  margin-top: 12px;
}

.product__list-category {
  background-color: transparent;
  width: 252px;
  margin-left: 9px;
}

.content__product-wash .product__list-item,
.content__product-oven .product__list-item,
.content__product-dishwasher .product__list-item,
.content__product-cooker .product__list-item {
  width: 269px;
  height: 424px;
  margin: 0 0;
}

.content__product-wash .product__lists,
.content__product-oven .product__lists,
.content__product-dishwasher .product__lists,
.content__product-cooker .product__lists {
  position: relative;
}

.content__product-wash .product__lists .prev-next-btn,
.content__product-oven .product__lists .prev-next-btn,
.content__product-dishwasher .product__lists .prev-next-btn,
.content__product-cooker .product__lists .prev-next-btn {
  position: absolute;
  top: 85px;
  left: 0;
  right: 0;
}

.content__product-wash .product__lists .prev-next-btn .prev-btn,
.content__product-oven .product__lists .prev-next-btn .prev-btn,
.content__product-dishwasher .product__lists .prev-next-btn .prev-btn,
.content__product-cooker .product__lists .prev-next-btn .prev-btn {
  position: absolute;
  left: 0;
  display: none;
}

.content__product-wash .product__lists .prev-next-btn .next-btn,
.content__product-oven .product__lists .prev-next-btn .next-btn,
.content__product-dishwasher .product__lists .prev-next-btn .next-btn,
.content__product-cooker .product__lists .prev-next-btn .next-btn {
  position: absolute;
  right: 0;
}

.content__product-wash .product__list-item:not(:first-child),
.content__product-oven .product__list-item:not(:first-child),
.content__product-dishwasher .product__list-item:not(:first-child),
.content__product-cooker .product__list-item:not(:first-child) {
  margin-left: 3px;
}

.product__list-category .product__list-category-item .block {
  flex: 1;
  margin-left: 14px;
}

.product__list-category-item .block .product__list-category-title {
  font-weight: bold;
}

.categopry-img img {
  width: 80px;
  height: 80px;
}

.see-more-product-btn {
  display: flex;
  margin: 36px 0 20px;
  justify-content: center;
}

/*  */
.advise__content {
  background-color: var(--color-white);
  margin-right: 20px;
}

.advise__content-body-main {
  padding: 0 15px 0 15px;
}

.advise__content-body-main .body__main-image img {
  width: 100%;
}

.advise__content-body-main .advise-title {
  font-size: 16px;
  font-weight: 900;
  margin: 40px 0 0 30px;
}

.advise__content-body-main .advise-text {
  font-size: 14px;
  margin: 18px 0 0 30px;
}

.list-item {
  display: flex;
  padding: 12px 10px 12px 0;
  border-bottom: 1px solid #f1f1f1;
}

.advise__content .list-item:first-child {
  padding-top: 0;
}

.list-item img {
  width: 172px;
  height: 78px;
}

.list-item .item-text {
  font-size: 16px;
  width: 166px;
}

.tip-text {
  margin: 20px 0 16px;
}

.tips__content {
  background-color: var(--color-white);
  padding: 0 10px;
}

.tips_body-main img {
  width: 100%;
  height: 326px;
}

.tips_body-list .list-item {
  border-top: 1px solid #f1f1f1;
}

/* dich vu khach hang */
.customer__service {
  background-image: url('../img/banner-dvkh.jpg');
  color: var(--color-white);
  height: 432px;
  margin-top: 24px;
}

.customer__service-title {
  padding: 52px 0 32px;
  font-size: 24px;
  font-weight: bold;
  text-align: center;
}

.customer__service-list {
  justify-content: space-between;
}

.customer__service-item {
  width: 258px;
  height: 258px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  background-color: var(--color-white);
}

.customer__service-item-icon img {
  width: 70px;
  height: 70px;
}

.customer__service-item-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 26px;
}

.customer__service-item-title {
  text-align: center;
  max-width: 160px;
  font-size: 20px;
  font-weight: 650;
  margin-bottom: 17px;
}

.customer__service-item-text {
  text-align: center;
  font-size: 14px;
}

/* Footer */

.register__news-title {
  margin-top: 40px;
  font-size: 24px;
  font-weight: 900;
}

.register__news-text {
  font-size: 16px;
  color: var(--text-color);
  margin-top: 10px;
}

.register__news-form {
  height: 44px;
  width: 590px;
  margin-top: 20px;
}

.register__news-form input {
  width: 100%;
  border-radius: 44px;
  height: 44px;
  border: 1px solid var(--color-border-line);
  outline: none;
  padding-left: 20px;
  font-size: 16px;
  color: var(--text-color);
}

.register__news-form button {
  display: block;
  width: 146px;
  height: 44px;
  background-color: var(--color-primary);
  color: var(--color-white);
  font-size: 16px;
  font-weight: 550;
  border: none;
  border-radius: 44px;
  margin-left: 12px;
}

.footer__group {
  justify-content: space-between;
  padding: 40px 0 36px;
  border-bottom: 1px solid #e4e4e4;
}

.footer__social-title,
.footer__copyright-title,
.footer__group-item-title {
  margin-bottom: 16px;
  font-size: 18px;
  font-weight: 700;
}

.footer__group-item-text:not(:frist-child) {
  margin-top: 10px;
}

.footer__certificate {
  justify-content: space-between;
  padding: 40px 0 30px;
  border-top: 1px solid #e4e4e4;
}

.footer__copyright-title {
  margin-bottom: 12px;
}

.footer__copyright-text {
  margin-top: 8px;
}

.footer__social-icon-item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #3b5998;
  color: var(--color-white);
  margin-right: 14px;
}

.youtube {
  background-color: #d42428;
}

.twitter {
  background-color: #55acee;
}

.instagram {
  background-image: linear-gradient(#4a169c, #d23067, #fdfd23);
}

.footer__certify {
  align-items: center;
}

.footer__certify-bct,
.footer__certify-dmca {
  margin-right: 30px;
  height: 40px;
}

/* !login */

.login {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  width: 398px;
  z-index: 100000;
  background-color: var(--color-white);
  padding: 30px 30px 30px 28px;
}

.icon-exit {
  position: absolute;
  top: 25px;
  right: 30px;
  width: 32px;
  height: 32px;
  color: var(--color-white);
  background-color: #7f7f7f;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
}

.login__text {
  margin: 24px 0 26px;
}

.login-form-item input {
  outline: none;
  border: 1px solid var(--color-border);
  padding-left: 22px;
  width: 100%;
  height: 48px;
  margin-top: 12px;
  border-radius: 48px;
}

.login-form-item:not(:first-child) {
  margin-top: 22px;
}

.btn-submit-login,
.btn-submit-login button {
  width: 100%;
  margin-left: 0;
}

.forget__pass {
  font-size: 14px;
  margin-top: 25px;
  width: 100%;
  text-align: center;
}

.forget__pass a {
  color: #4785e1;
}

.login-form {
  padding-bottom: 24px;
  border-bottom: 1px solid var(--color-border-line);
}

.btn-register {
  margin-top: 32px;
}

.button-register button {
  margin-top: 28px;
  width: 100%;
}

.overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.2);
  z-index: 1;
}
